<!-- app.component.html -->

<div class="app-container">
  <!-- El contenido de la ruta se cargará aquí -->
  <!--<router-outlet></router-outlet>-->
</div>

<main class="main">
  <!-- Usando la directiva appButtonStyle en un botón -->
  <button appButtonStyle>
    Click Me
  </button>

  <!-- Usando la directiva appButtonStyle en un enlace -->
  <a href="#" appButtonStyle>
    Link Style
  </a>

  <!-- app.component.html -->
<div class="app-container">
  <!-- El contenido de la ruta se cargará aquí -->
  <router-outlet></router-outlet>
</div>

</main>
